.features-bg {
    background-image: url("/images/backgrounds/features-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.features {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    display: grid;
    gap: 2.5rem
}

.features__title {
    margin-bottom: 1rem;
}

.features__description {
    max-width: 45ch;
}

.features__list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.features__item {
    display: grid;
    align-content: start;
    justify-items: center;
    background-color: #092F73;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 2rem 1.5rem;
    border-radius: 1.5rem;
    position: relative;
}

.features__item::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 5px;
    background-color: var(--primary-50);
    border-radius: 4px 4px 0 0;
    box-shadow: 0 -1px 4px rgba(115, 240, 252, 10);
}

.features__item-icon {
    margin-bottom: 1rem;
}

.features__item-title {
    font: 500 1.25rem/1.16 "Rubik", Arial, sans-serif;
    color: var(--white);
    text-align: center;
    margin-bottom: 0.75rem;
}

.features__item-desc {
    font: 400 1rem/1.45 "Roboto", Arial, sans-serif;
    color: var(--white-90);
    text-align: center;
}

@media(max-width: 1450px) {
    .features__item:nth-child(4) {
        grid-column: 2 / 3;
    }
}

@media(max-width: 1000px) {
    .features-bg {
        background-position: top right;
    }

    .features__list {
        gap: 1.25rem;
    }

    .features__item {
        width: 100%;
    }

    .features__item:nth-child(4) {
        grid-column: initial;
    }
}

@media(max-width: 768px) {
    .features-bg {
        background-image: radial-gradient(#072B6E, #012360);
        background-repeat: repeat;
    }

    .features {
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
        gap: 2rem;
    }
}

@media(max-width: 576px) {
    .features {
        gap: 1.75rem;
    }

    .features__list {
        grid-template-columns: 1fr;
    }
}